body{ 
	background-color:linen;
	background-image:url("nightsky.jpg");
	height: 100%;
	color:Linen;
	font-family: Sans-Serif;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50px;
	height:50px;
}

.name{
		text-align: center;
}

h1{
	color:linen;
	text-decoration:underline;
}

h3{
	text-decoration:underline;
}

table{
	border-collapse: collapse;
	margin: 25px 0;
	font-size: 0.9em;
	min-width: 400px;
	
}



td,th{
		padding: 12px 15px;
	background-color:#053FE7;
	text-align: left;
	font-weight: bold;		
}

tr:nth-child(even){
		background-color: #C8A2C8;
}
tr:nth-child(odd){
		background-color:lightgreen;
}